<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saint Claire</title>
  </head>
  <body>
  <main class="main-home">
    <section class="home-logo">
      <img src="./assets/logo.png" alt="">
    </section>
    <section class="home-sections">
      <a href="index.html"><div>Specialties</div></a>
      <a href="./views/patient.html"><div>Patients</div></a>
    </section>
  </main>

  </body>
</html>
