<!DOCTYPE html>
<html lang="en" ALIGN="center">

<head>
    <meta charset="UTF-8">
    <title> Patient Index </title>
    <link rel="stylesheet">
    <td><img src="../assets/Sait_Claire_logo.jpg" width="80" alt="nice"></td>
</head>

<body>

<style>
    body {
        background-image: url("../assets/Sait_Claire_background+logo2.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
    }

</style>

</body>


<div id="body ">
    <div class="group">


        <table id="Table" border="3" align="center">

            <tr>
                <th scope="row" colspan="6"><img src="../assets/Sait_Claire_text.jpg" width="150" alt="logo_text"></th>
            </tr>
            <tr>
                <th scope="row" colspan="6">Menu Speciality</th>
            </tr>
            <tr>

                <td><img src="../assets/navigation_icon_home.png" width="60" alt="home"></td>

                <td><img src="../assets/medical_icon_search.png" width="60" alt="search"></td>

                <td><img src="../assets/medical_icon_edit.png" width="60" alt="edit"></td>

                <td><img src="../assets/medical_icon_add.png" width="60" alt="add"></td>

                <td><img src="../assets/medical_icon_delete.png" width="60" alt="delete"></td>


            </tr>

            <tr>

                <td><a href="../../index.html"><h3> Go back </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/specialty/list"><h3> Search </h3></a></td>
                <script type="module" src="src/views/main.ts"></script>

                <td><a href="http://localhost:8080/api/v1/speciality"><h3> Edit </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/patient "><h3> Add new </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/patient "><h3> Delete </h3></a></td>

            </tr>
            <tr>
                <th scope="row" colspan="6">

                </th>

            </tr>
        </table>

    </div>
</div>

</html>