<!DOCTYPE html>
<html lang="en" ALIGN="center">

<head>
    <meta charset="UTF-8">
    <title> Patient Index </title>
    <link rel="stylesheet">
    <td><img src="../../public/images/Sait_Claire_logo.jpg" width="80" alt="nice"></td>
</head>

<body>

<style>
    body {
        background-image: url("../../public/images/Sait_Claire_background+logo2.jpg");
        width: 1100px;
        background-repeat: no-repeat;
    }

</style>

</body>


<div id="body ">
    <div class="group">


        <table id="Table" border="3" align="center">

            <tr>
                <th scope="row" colspan="6"><img src="../../public/images/Sait_Claire_text.jpg" width="150" alt="logo_text"></th>
            </tr>
            <tr>
                <th scope="row" colspan="6">Menu Patient</th>
            </tr>
            <tr>

                <td><img src="../../public/images/navigation_icon_home.png" width="60" alt="home"></td>

                <td><img src="../../public/images/patient_Icon_search.jpg" width="60" alt="search"></td>

                <td><img src="../../public/images/patient_icon_edit.png" width="60" alt="search"></td>

                <td><img src="../../public/images/patient_icon_add.png" width="60" alt="search"></td>

                <td><img src="../../public/images/appointment_icon_new.png" width="60" alt="search"></td>

                <td><img src="../../public/images/patient_icon_delete.png" width="60" alt="search"></td>



            </tr>

            <tr>

                <td><a href="/src/pages/index.htmlindex.html"><h3> Go back </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/patient_show_all"><h3> Search </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/speciality"><h3> Edit </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/patient "><h3> Add new </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/speciality"><h3> Appointment </h3></a></td>

                <td><a href="http://localhost:8080/api/v1/patient "><h3> Delete </h3></a></td>

            </tr>
            <tr>
                <th scope="row" colspan="6">
                    <div id="current_date"></p>
                        <script>
                            document.getElementById("current_date").innerHTML = Date();
                        </script>
                    </div>
                </th>

            </tr>
        </table>

    </div>
</div>

</html>